.address{
    background: $primary-color;
    color: #fff;
    @include layout(flex,row,space-evenly,unset);
    flex-wrap: wrap;
    padding-bottom: 37px;
    
    .card{
        width: 250px;
        padding: 1em 0;
        h2{
            font-size: $h2-sm;
            padding: .5em 0;
        }
        p{
            font-size: 16px;
            padding-bottom: 0.5em;
        }
        a{
            text-decoration: none;
            color: $tertiary-color;
        }

    }
}