
//screen sizes
// $small: 360px;    //below 530px
$medium: 800px;       //800px-1280px
$large: 1280px;     //1024px-

//colors
$primary-color: #FFBA2D;
$secondary-color: #EFAA1D;
$tertiary-color: #222917;

//animation speed
$fast-duration: 0.1s;
$medium-duration: 0.2s;
$slow-duration:0.3s;

//text
$h1-sm: 30px;  //-mainHeading  mobile
$h2-sm: 21px;  //-subHeading
$h3-sm: 12px;  //-subSubHeading
$p-sm: 15px;

$h1-md: 38px;  //-mainHeading   tablet
$h2-md: 29px;  //-subHeading
$h3-md: 16px;  //-subSubHeading
$p-md: 16px;

$h1-lg: 46px;  //-mainHeading   desktop
$h2-lg: 34px;  //-subHeading
$h3-lg: 20px;  //-subSubHeading
$p-lg: 17px;

/* mixins */
@mixin layout($display,$direction,$justify,$align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($bg-color,$txt-color,$border-color,$padding-top_bottom,$padding-left_right){
    text-decoration:none;
    background: $bg-color;
    color: $txt-color;
    font-size: $h3-sm;
    border: 1px solid $border-color;
    border-radius: 10px;
    font-weight: 600;
    padding: $padding-top_bottom $padding-left_right;
}


//animations and keyframes

@mixin hacks(){
    transform: perspective(1px) translateZ(0); //reduce blur in chrome
    box-shadow: 0 0 1px rgba(0,0,0,0);   //aliasing in mob/tabs
    // display:inline-block;     //!impo for transform
    vertical-align:middle;     //!impo for transform
}

@mixin hoverEffect {
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2ms;
  }

@mixin underline-from-center {
    $duration: $medium-duration;
    $underLineColor:$secondary-color;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 51%;
		right: 51%;
        bottom: -3px;  //push line down sligtly
		background: $underLineColor;
		height: 2px;
		transition-property: "left, right";
		transition-duration: $duration;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus,
	&:active {

		&:before {
			left: 15%;  //line does not extend to end
			right: 15%;  
		}
	}
}

@keyframes wobble { //used in icon-wobble mixin
	16.65% {
		transform: translateX(6px);
	}

	33.3% {
		transform: translateX(-5px);
	}

	49.95% {
		transform: translateX(4px);
	}

	66.6% {
		transform: translateX(-2px);
	}

	83.25% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}

@mixin icon-wobble {
	@include hacks();
	transition-duration: $medium-duration;

	.hvr-icon {transform: translateZ(0);}

	&:hover,
	&:focus,
	&:active {

		.hvr-icon {
			animation-name: wobble;  //using the wobble keyframe
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: 1;
		}
	}
}