.overview{
    margin-top: 120px;
    padding-bottom: 37px;
    .cards{
        @include layout(flex,row,space-evenly,unset);
        flex-wrap: wrap;

        .card{
            height: 374px;
            margin: 1em;
            width: 250px;
            img{
                width:100%;
                height: 203px;
                // background: #000;
            }
            h2{
                text-align: center;
                font-size: $h2-sm;
                color: $secondary-color;
            }
            p{
                font-size: 16px;
                color: $tertiary-color;
                padding: 1rem 0.5rem;
                // max-width: 284px;
                text-align: justify;
            }
        }
    }
}

