//page loader
.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 4;
    img{
    position: inherit;
    width: 200px;
    bottom: 50%;
    right: 45%;
}
}
.load-finish{
    // @include fade-out();
    // pointer-events: none;
    // opacity: 0 !important;
    display: none !important;

}