.video{
    padding-top: 47px;
    padding-bottom: 37px;
    color: #fff;
    background: url(/asserts/img/bg-blurred.jpg);
    background-size: cover;
    background-position: center;

    
    @include layout(flex,row,space-evenly,unset);
    flex-wrap: wrap;

    img{
        width: 284px;
        height: 370px;
    }
    svg{
        width: 65px;
        height: 65px;
        position: absolute;
        margin-top: 150px;
        margin-left: -170px;
        
    }
    .txt-section{
        max-width: 350px;
        h2{
            font-size: $h2-sm;
            padding: 1rem 0 0.5rem;
        }
        p{
            font-size: 16px;
            padding-bottom: 37px;
        }
        a{
            @include btn(transparent,inherit,#fff,15px,30px);
        }
    }
}