@import "../asserts/fonts/barlowCondensed-webfont/_font";
@import "../asserts/fonts/YanoneKaffeesatz-webfont/_font";


@import "mixins_variables";
@import "page_loader";

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}   
body,html{
    scroll-behavior: smooth;
    font-family: 'Barlow Condensed','Yanone Kaffeesatz',sans-serif;
    color: #fff;
}
.container{
    padding: 0 10%;
    line-height: 1.5;
}

@media screen and (min-width: $large){
    .container{
        padding: 0 15%;
    }
}


@import "landing_page";
@import "overview";
@import "endangered";
@import "helpNature";
@import "video";
@import "someDetails";
@import "volunteers";
@import "makeDonation";
@import "address";
@import "footer";