@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.eot');
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.woff') format('woff'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.ttf') format('truetype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.eot');
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.woff') format('woff'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.ttf') format('truetype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.eot');
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.woff2') format('woff2'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.woff') format('woff'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.ttf') format('truetype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.svg#YanoneKaffeesatz-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.eot');
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.woff2') format('woff2'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.woff') format('woff'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.ttf') format('truetype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.svg#YanoneKaffeesatz-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.eot');
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.woff') format('woff'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.ttf') format('truetype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.eot');
    src: url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.eot?#iefix') format('embedded-opentype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.woff2') format('woff2'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.woff') format('woff'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.ttf') format('truetype'),
        url('../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.svg#YanoneKaffeesatz-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

